@font-face {
  font-family: Montserrat-Light;
  src: url("/fonts/Montserrat-Light.ttf");
}
.ch-wrapper .ch-dropdown-wrapper {
  display: none;
  position: absolute;
  top: 65;
  right: 10;
  width: 270px;
  height: 200px;
  background: #000;
  color: #fff;
}
.ch-wrapper .ch-dropdown-wrapper .dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ch-wrapper .ch-dropdown-wrapper .dropdown-container a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.ch-wrapper .ch-dropdown-wrapper .dropdown-container a.hover {
  background-color: #494848;
}
