.cp-wrapper .cp-profile-container .cp-edit-details-container {
  width: 500px;
  height: 450px;
  background-color: #fff;
  border-radius: 5px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container .cp-edit-title {
  margin: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form {
  margin: 20px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group label {
  width: 200px;
  margin-bottom: 20px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group input,
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group select {
  width: 200px;
  margin-left: 20px;
  height: 30px;
  padding-left: 10px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group a {
  margin-left: 40px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group:last-child button {
  width: 200px;
  height: 50px;
  background-color: #006fa1;
  color: #fff;
  font-size: 28px;
  border: 2px solid #006fa1;
  border-radius: 5px;
}
