.cp-wrapper .cp-profile-container {
  margin-top: 20px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container {
  width: 650px;
  height: 750px;
  background-color: #fff;
  border-radius: 5px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container .cp-edit-title {
  margin: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form {
  margin: 20px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 20px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group .label-with-span {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 0;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group .label-with-span span {
  margin-top: -15px;
  padding-top: 0;
  padding-left: 5px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group label {
  margin-bottom: 20px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group input,
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group select {
  width: 350px;
  margin-left: 20px;
  height: 40px;
  padding-left: 10px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group a {
  margin-left: 40px;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-wrapper .cp-profile-container .cp-edit-details-container form .form-group:last-child input {
  width: 200px;
  height: 50px;
  background-color: #006fa1;
  color: #fff;
  font-size: 28px;
  border: 2px solid #006fa1;
  border-radius: 5px;
}
