@font-face {
  font-family: Montserrat-Regular;
  src: url("/fonts/Montserrat-Regular.ttf");
}
.cp-wrapper {
  background-image: linear-gradient(#142F65, #000);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.cp-wrapper .cp-name-container {
  width: 97%;
  margin: 20px;
  color: #fff;
  border-bottom: 1px solid #0075a3;
}
.cp-wrapper .cp-name-container h3 {
  font-family: Montserrat-Regular, sans-serif;
  font-size: 36px;
  color: #fff;
}
@media screen and (max-width: 500px) {
  .cp-wrapper .cp-name-container h3 {
    font-size: 28px;
  }
}
.cp-wrapper .cp-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cp-wrapper .cp-profile-container .cp-profile-image-container {
  width: 600px;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cp-wrapper .cp-profile-container .cp-profile-image-container .image-and-edit {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.cp-wrapper .cp-profile-container .cp-profile-image-container .image-and-edit .fa-user-circle {
  background-color: #fff;
  border-radius: 50%;
  color: #006fa1;
  font-size: 200;
}
.cp-wrapper .cp-profile-container .cp-profile-image-container .image-and-edit .edit-container .fa-edit {
  font-size: 30;
  color: #fff;
  margin-right: 0;
}
.cp-wrapper .cp-profile-container .cp-profile-image-container .image-and-edit .edit-container a {
  color: #fff;
  text-decoration: underline;
}
.cp-wrapper .cp-profile-container .cp-profile-image-container .cp-client-name {
  color: #fff;
  margin-top: 20px;
  margin-left: -50px;
}
.cp-wrapper .cp-profile-container .cp-profile-details-container {
  width: 600px;
  height: 600px;
  background-color: #fff;
}
