@font-face {
    font-family: Montserrat-Light;
    src: url("/fonts/Montserrat-Light.ttf");
}
.ch-wrapper{
    .ch-dropdown-wrapper{
    //   display: none;
        position: absolute;
        top: 65;
        right: 10;
        width: 270px;
        height: 350px;
        background-color:rgba(171, 173, 176, 1);
        color: #fff;
        overflow: hidden;
        .dropdown-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 15px;
            .ch-link-card{
                display: flex;
                flex-direction: row;
                align-items: center;

                height: 50px;
                width: 100%;
                padding: 5px;
                margin-left: 20px;
                margin-bottom: 15px;
                border-radius: 25px 0 0  25px;
                .iconify{
                    width: 40px;
                    height: 40px;
                    color:#283048;
                    padding-left: 5px;
                    
                }
              
                a{
                    color:#283048 ;
                    text-decoration: none;
                    font-size: 24;
                    padding-left: 10px;
                }
                &.active{
                    .iconify{
                        color: #fff;
                    }
                    
                    &:hover{
                        background: linear-gradient(90deg, #0C2557 9.82%, #0B080F 86.91%);
                        color: #fff;
                    }
                    a{
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

