.cp-wrapper{
    .cp-profile-container{
        margin-top: 20px;
        .cp-edit-details-container{
            width: 650px;
            height: 750px;
            background-color: #fff;
            border-radius: 5px;
            .cp-edit-title{
                margin: 20px;   
                font-weight: bold;  
                margin-bottom: 40px;           
            }
            form{
                margin: 20px;
                .form-group{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;
                    margin-bottom: 20px;
                    .label-with-span{
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-start;
                        padding-bottom: 0;
                        span{
                            margin-top: -15px;
                            padding-top: 0;
                            padding-left: 5px;
                        }
                    }
                    
                    label{
                        // width: 200px;
                        margin-bottom: 20px;
                        //background-color: #000;
                    }
                    input,
                    select{
                        width: 350px;
                        //background-color: #080;
                        margin-left: 20px;
                        height: 40px;
                        padding-left: 10px;
                    }
                    a{
                        margin-left: 40px;
                    }
                    &:last-child{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        input{
                            width: 200px;
                            height: 50px;
                            background-color: rgba(0, 111, 161, 1);
                            color: #fff;
                            font-size: 28px;
                            border: 2px solid rgba(0, 111, 161, 1);
                            border-radius: 5px;
                        }
                    }
                    
                }
            }
        }
    }
}