@font-face {
    font-family: Montserrat-Regular;
    src: url("/fonts/Montserrat-Regular.ttf");
}

.cp-wrapper{
    background-image: linear-gradient(#142F65, #000);
    width: 100vw;
    height: 1200px;
    display: flex;
    flex-direction: column;
    .cp-name-container{
        width: 97%;
        margin: 20px;
        color: #fff;
        border-bottom: 1px solid #0075a3;       
        h3{
            font-family: Montserrat-Regular, sans-serif;
            font-size: 36px;
            color: #fff;
            @media screen and(max-width: 500px){
                font-size: 28px;
            }
        }
    }
    .cp-profile-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .cp-profile-image-container{
            width: 600px;
            height: 300px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .image-and-edit{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                .fa-user-circle{
                    background-color: #fff;
                    border-radius: 50%;
                    color: rgba(0, 111, 161, 1);
                    font-size: 200;
                }
                .edit-container {
                    .fa-edit{
                        font-size: 30;
                        color: #fff;
                        margin-right: 0;
                    }
                    a{
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
            .cp-client-name{
                color: #fff;
                margin-top: 20px;
                margin-left: -50px;
            }
          
        }
        .cp-profile-details-container{
            width: 600px;
            height: 750px;
            background-color: #fff;
            border-radius: 5px;
            padding-left: 20px;
            .cp-details-title{
                margin: 40px;
                margin-top: 20px;

            }
            .personal-details-container {
                .details-card{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: flex-start;
                    justify-content: flex-start;
                    list-style: none;
                    .key{
                        width: 200px;
                        margin-bottom: 20px;
                        //background-color: #000;
                    }
                    .value{
                        width: 200px;
                        //background-color: #080;
                        margin-left: 20px;
                    }
                    a{
                        margin-left: 40px;
                    }
                }
            }
        }
    }
}