.cp-wrapper{
    .cp-profile-container{
        .cp-history-container{
            width: 80%;
            height: 600px;
            background-color: #fff;
            border-radius: 5px;
            .cp-edit-title{
                margin: 20px;   
                font-weight: bold;  
                margin-bottom: 40px;  
                       
            }
            
        }
    }
}